.centrar
	text-align center


.titulo
	text-align center

.instrucciones
	p 
		text-align justify

.video
	iframe
		width 100%
		height 250px

.opciones
	ul
		list-style none
		text-align center
		padding 0

		li
			display inline-block
			border 1px solid gray
			width 18%
			&:hover
				background-color graylight
				box-shadow 0px 0px 15px #888888
				
			img
				width 55px
			span
				display block
				text-align center

.usuario
.vs 
.pc
	display inline-block
	width 32%

.usuario
	img
		width 100%

.pc
	img
		width: 100%

			

